/*
 * This file contains scss mixins.
 *
 * ⚠️ This file must not contain any css rules. It is imported in many places,
 * and css rules in this file would result in a copy of all of the rules per import.
 */

@import "./variables.scss";

/* focus styling for actions like menu-entries, buttons, icons, etc */
@mixin primary_action_focus {
    outline: 2px solid $accent_focus;
    outline: 2px auto  Highlight;
    outline: 2px auto -webkit-focus-ring-color;
    outline-offset: -1px;
}

/* hover styling for actions like menu-entries, buttons, icons, etc */
@mixin primary_action_hover {
    opacity: 1;
    &.btn-select, &:active, &.active, &:checked, &::selection, &.show, &[aria-expanded="true"] {
        background-color: $primary;
        border-radius: .25rem;
    }
    background-color: lighten($primary, 10%);
    color: $light_grey_contrast;
    cursor: pointer;
}

@mixin active-pill($vertical-padding, $horizontal-padding) {
    .nav-pills {
        & > li > a {
            padding: $vertical-padding $horizontal-padding;
        }
        & > li.active > a {
            color: $secondary_focus_contrast;
            background-color: $secondary_focus;
        }
    }
}
