<!DOCTYPE html>
<div class="layer-info-item ms-auto order-last align-self-start">
    <span class="bootstrap-icon settings-icon rotate"><i class="bi-gear"></i></span>
</div>

<div class="selected-layer-item d-flex">
    <span class="bootstrap-icon x-icon"><i class="bi-x-lg"></i></span>
    <div class="d-flex align-items-center">
        <% if (isVisibleInMap === true) { %>
            <span class="bootstrap-icon"><i class="bi-check2-square"></i></span>
        <% } else { %>
            <span class="bootstrap-icon"><i class="bi-square"></i></span>
        <% } %>
        <% if (isSecured) { %>
            <span class="bootstrap-icon lock-icon"><i class="bi-lock-fill"></i></span>
        <% } %>
        <span class="title"><%= name %></span>
    </div>
</div>