<!DOCTYPE html>
<div class="layer-info-item pull-right">
    <% if (typeof datasets !== "undefined" && datasets !== false) { %>
        <span class="boostrap-icon info-icon"><i class="bi-info-circle-fill"></i></span>
    <% } %>
</div>
<div class="layer-item pull-left">
    <% if (isSelected === true) { %>
        <span class="boostrap-icon"><i class="bi-check2-square"></i></span>
    <% } else { %>
        <span class="boostrap-icon"><i class="bi-square"></i></span>
    <% } %>
    <% if (isSecured) { %>
        <span class="boostrap-icon lock-icon"><i class="bi-lock-fill"></i></span>
    <% } %>
    <span class="title"><%= name %></span>
</div>
