<!DOCTYPE html>
<div class="layer-info-item float-end">
    <span class="boostrap-icon settings-icon rotate"><i class="bi-gear"></span>
</div>
<div class="selected-layer-item">
    <span class="boostrap-icon x-icon float-start"><i class="bi-x-lg"></span>
    <div class="float-start">
        <% if (isVisibleInMap === true) { %>
            <span class="boostrap-icon float-start"><i class="bi-check2-square"></span>
        <% } else { %>
            <span class="boostrap-icon float-start"><i class="bi-square"></span>
        <% } %>
        <% if (isSecured) { %>
            <span class="boostrap-icon lock-icon"><i class="bi-lock-fill"></span>
        <% } %>
        <span class="title"><%= name %></span>
    </div>
</div>
