<!DOCTYPE html>
<div class="layer-info-item float-end">
    <span class="bootstrap-icon switch-icon rotate"><i class="bi-plus-lg"></i></span>
</div>

<div class="layer-item float-start">
    <% if (isSelected === true) { %>
        <span class="bootstrap-icon"><i class="bi-check2-square"></i></span>
    <% } else { %>
        <span class="bootstrap-icon"><i class="bi-square"></i></span>
    <% } %>
    <% if (isSecured) { %>
        <span class="bootstrap-icon lock-icon"><i class="bi-lock-fill"></i></span>
    <% } %>
    <span class="title"><%= name %></span>
</div>
