@import "../../../css/mixins.scss";
@import "~variables";

.style-wms-win {
    position: absolute;
    top: 60px;
    left: 10px;
    width: 500px;
    margin: 10px 10px 30px 10px;
    display: none;
    z-index: 1010;
    background-color: $white;
    box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.176);
    border: 1px solid rgb(229, 229, 229);
    >.header {
        padding-left: 10px;
        border-bottom: 1px solid rgb(229, 229, 229);
        >.title {
            cursor: move;
            font-size: 14px;
            padding: 8px 0;
            color: $dark_grey;
        }
        >.buttons {
            color: $dark_grey;
            font-size: 14px;
            margin: 0;
            >span {
                padding: 8px;
                cursor: pointer;
            }
        }
    }
    >.content {
        background-color: $white;
        padding: 12px;
    }
    .layer-name {
        color: $light_red;
        padding-bottom: 6px;
    }
}
.error {
    font-size: 10px;
    color: $light_red;
}
.range-label {
    font-family: $font_family_accent;
}
#style-wms-colorpicker {
    &:focus {
        @include primary_action_focus;
    }
    >input {
        display: none;
    }
    >span {
        border-left: 1px solid #ccc;
    }
}

.stylewms-panel {
    >.btn {
        width: 49%;
    }
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}
