<!DOCTYPE html>
<div class="form-horizontal" role="form">
    <div class="form-group form-group-sm row">
        <div class="col-md-12">
            <label class="range-label"><%=theme%></label>
            <select class="form-select form-select-sm" id="layerField">
                <option class="float-start" value="" selected="true"><%=chooseTheme%></option>
                <% styleableLayerList.forEach(function (styleableLayer) { %>
                    <option class ="float-start" value="<%= styleableLayer.id %>"><%= styleableLayer.name %></option>
                <% })%>
            </select>
        </div>
    </div>
    <% if ( model !== null && model!== undefined) { %>
        <div class="form-group form-group-sm row">
            <div class="col-md-12">
                <label class="range-label"><%=attribute%></label>
                <select class="form-select form-select-sm" id="attributField">
                    <option class="float-start" value="default" <% if (attributeName === "default") { print ("SELECTED")} %>><%=chooseAttribute%></option>
                    <% model.get("attributesToStyle").forEach(function (attribute) { %>
                        <option class="float-start" value=<%= attribute %> <% if (attribute === attributeName) { print ("SELECTED")} %>><%= attribute %></option>
                    <% }); %>
                </select>
            </div>
        </div>
        <% if (attributeName !== "default") { %>
            <div class="form-group form-group-sm row">
                <div class="col-md-12">
                    <label class="range-label"><%=countOfClasses%></label>
                    <select class="form-select form-select-sm" id="numberField">
                        <option class="float-start" value="default" <% if (numberOfClasses === "default") { print ("SELECTED")} %>><%=chooseNumberOfClasses%></option>
                        <% numberOfClassesList.forEach(function (number) { %>
                            <option class="float-start" value=<%= number %> <% if (number === numberOfClasses) { print ("SELECTED")} %>><%= number %></option>
                        <% }); %>
                    </select>
                </div>
            </div>
        <% } %>
        <% if (numberOfClasses !== "default") { %>
            <% for (let i = 0; i < numberOfClasses; i++) { %>
                <div class="form-group row">
                    <div class="col-md-5">
                        <label class="range-label"><%=rangeOfValues%> <%= i + 1 %></label>
                        <input class="form-control form-control-sm <%= 'start-range' + i %>" value="<% if (typeof styleClassAttributes[i] !== 'undefined') { print (styleClassAttributes[i].startRange)} %>" placeholder=<%=from%>>
                    </div>
                    <div class="col-md-5">
                        <label class="range-label">&nbsp;</label>
                        <input class="form-control form-control-sm <%= 'stop-range' + i %>" value="<% if (typeof styleClassAttributes[i] !== 'undefined') { print (styleClassAttributes[i].stopRange)} %>" placeholder=<%=to%>>
                    </div>
                    <div class="col-md-2">
                        <label class="range-label">&nbsp;</label>
                        <div id="style-wms-colorpicker" tabindex="0" class="input-group input-group-sm colorpicker-component">
                            <input class="form-control form-control-sm <%= 'selected-color' + i %>" value="<% if (typeof styleClassAttributes[i] !== 'undefined') { print (styleClassAttributes[i].color)} else { print ('#337ab7')} %>">
                            <span class="input-group-text"><i></i></span>
                        </div>
                    </div>
                </div>
            <% } %>
            <div class="form-group form-group-sm row">
                <% if (typeof errors !== "undefined") { %>
                    <span id="yearError" class="col-7 offset-5 treeFilterError"><%= errors.range %></span>
                <% } %>
                <div class="col-12 stylewms-panel">
                    <button class="btn btn-lgv-grey reset float-left"><%=reset%></button>
                    <button class="btn btn-primary submit float-right"><%=apply%></button>
                </div>
            </div>
        <% } %>
        <% if (model !== null && numberOfClasses === "default") { %>
            <div class="form-group form-group-sm row">
                <div class="col-12 stylewms-panel">
                    <button class="btn btn-lgv-grey reset float-left"><%=reset%></button>
                </div>
            </div>
        <% } %>
    <% } %>
</div>
