@import "~variables";

.checkbox-container {
    .form-inline {        
        display: inline-block;
        width: 100%;
        padding: 8px 15px;
        .title-checkbox {
            width: 85%;
            .toggle {
                float: right;
                background-color: $white;
                .toggle-group {
                    border: 1px $black;
                    label {
                        overflow: visible;
                        &.btn-primary {
                            color: $white;
                            background-color: $primary;
                            &:hover {
                                opacity: 0.8;
                            }
                        }
                    }
                    .toggle-handle {
                        background-color: $white;
                    }
                }
            }
            label {
                padding-top: 6px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                max-width: 70%;
                margin: 0;
                color: $dark_grey;
                float: left;
            }
        }
        .info-icon {
            float: right;
            padding: 10px 0 10px 10px;
            font-size: $font_size_icon_lg;
            opacity: 0.4;
            top: -5px;
            &:hover {
                cursor: pointer;
                opacity: 1;
            }
        }
        .info-text {
            display: none;
            font-size: $font-size-sm;
        }
        input.largerCheckbox {
            height: 20px;
            width: 20px;
        }
    }
}
