@import "../../../css/variables.less";

@color_1: rgb(51, 51, 51);
@color_2: rgb(255, 255, 255);
// @color_3: rgb(255, 127, 0);
@color_4: rgb(82, 82, 82);
@font_family_1: "MasterPortalFont", "Arial Narrow", Arial, sans-serif;
@font_family_2: MasterPortalFont, "Arial Narrow", Arial, sans-serif;
@background_color_1: rgb(51, 51, 51);

/**************** Menu ***********************/
/**************** Themenbaum ****************/
/* ----------------------Themenbaum light -----------------------------*/
/*Haupt Themenliste */
/*Unterlisten*/
/*-------------------Selection/Settings----------------------*/
.submenu-style {
    padding: 5px 0;
    border-bottom: 1px solid rgb(229, 229, 229);
}
#root, ul#tree, ul#legend-menu, .portal-title {
    .tabable {
        text-decoration: none;
        cursor: pointer;
        opacity: 0.8;
        &:hover {
            opacity: 1;
            background-color: @accent_hover;
            color: @color_2;
        }
        &:focus {
            opacity: 1.0;
            outline: 3px solid @accent_focus;
            outline: 3px auto  Highlight;
            outline: 3px auto -webkit-focus-ring-color;
        }
        &:active {
            opacity: 1.0;
        }
    }
}

ul#tree {
    border: none;
    font-family: @font_family_1;
    padding: 0px 0;
    min-width: 380px;

    li a {
        font-size: 15px;
        margin: 0px;
        color: @color_1;
        padding: 5px;
        &:hover {
            color: @color_1;
            background-color: lighten(@primary_inactive, 40%);
        }
    }
    .closed {
        &:not(.SelectedLayer) {
            border-bottom: 1px solid #ddd;
        }
    }
    ul {
        list-style: none;
        padding: 0 0 0 0px;
        -webkit-padding-start: 0px;
        overflow-y: auto;
        overflow-x: auto;
        max-width: 500px;
        max-height: 55vh;
        .title {
            font-family: @font_family_2;
            font-size: 12px;
            cursor: pointer;
        }
        li {
            border-bottom: 1px solid #ddd;
            padding: 5px 5px;
        }
    }
    .glyphicon {
        cursor: pointer;
        font-size: 15px;
        padding: 2px;
    }
    .glyphicon-info-sign, .glyphicon-cog, .glyphicon-tint, .glyphicon-remove-circle {
        font-size: 18px;
        color: @color_4;

    }
    .highlightLayerInformationIcon {
        color: #08589e;
    }
    .catalog_buttons {
        .glyphicon {
            padding: 0px 0;
            cursor: pointer;
        }
        .glyphicon-adjust {
            font-size: 14px;
        }
    }
    li.layer-catalog {
        >.header {
            padding: 8px 5px 7px 5px;
            background-color: @background_color_1;
            color: @color_2;
            font-size: 13px;
        }
        >div>a {
            color: @color_2;
            // &:hover {
            //     background-color: @color_4;
            // }
        }
    }
    .catalog-selection {
        font-size: 11px;
        font-weight: 400;
        > select {
            height: 20px;
            padding: 0;
            font-size: 11px;
        }
    }
    .themen-folder {
        font-weight: 400;
    }
    .rotate-adjust {
        transform: rotate(180deg);
        transition: 0.5s;
        font-size: 15px;
        cursor: pointer;
    }
    .rotate-adjust-back {
        transform: rotate(0deg);
        transition: 0.5s;
        font-size: 15px;
        cursor: pointer;
    }
    .rotate-pin {
        transform: rotate(270deg);
        transition: 0.5s;
        font-size: 14px;
        cursor: pointer;
    }
    .rotate-pin-back {
        transform: rotate(360deg);
        transition: 0.5s;
        font-size: 14px;
        cursor: pointer;
    }
    #SelectedLayer {
        li {
            overflow: auto;
            padding: 8px 6px;
        }
        a {
            padding: 2px 0px 0px 5px;
        }
    }
    .SelectedLayer {
        .layer-selection-save {
            font-size: 11px;
            font-weight: 400;
            cursor: pointer;
        }
    }
}
ul#tree.light {
    font-size: 12px;
    color: @color_1;
    overflow-y: auto;
    li {
        border-left: 0;
        border-right: 0;
        padding: 0px;
        max-width: 500px;
        overflow: auto;
        >a {
            font-size: 12px;
        }
        span.title {
            vertical-align: sub;
            cursor: pointer;
        }
    }
}
ul#tree {
    a.checked {
        background-color: @accent_active;
        color: @color_2;
        &:hover {
            background-color: @accent_active;
            color: @color_2;
        }
    }
}
