<!DOCTYPE html>
<a href="#" role="button" class="dropdown-toggle <%= id %> tabable" tabindex="0" data-bs-toggle="dropdown" aria-expanded="false" title="<%= name %>">
    <span class="bootstrap-icon d-md-none d-lg-inline-block"><i class="<%= icon %>"></i></span>
    <span class="menuitem"><%= name %></span>
</a>
<% if (treeType === "light") { %>
    <ul id="<%= id %>" tabindex="-1" class="dropdown-menu light">
    </ul>
<% }
else { %>
    <ul id="<%= id %>" tabindex="-1" class="dropdown-menu">
    </ul>
<% } %>
