<!DOCTYPE html>
 <% if (isExpanded === true) { %>
<div class="menu-row header <%= id %>" >
    <a class="<%= id %> tabable" tabindex="0">
        <span class="bootstrap-icon minimize-icon"><i class="bi-dash-circle-fill"></i></span>
 <% } else {%>
<div class="menu-row header <%= id %> closed" >
    <a class="<%= id %> tabable" tabindex="0">
        <span class="bootstrap-icon maximize-icon"><i class="bi-plus-circle-fill"></i></span>
<% } %>
        <span class="form-label"><%= name %></span>
    </a>

    <div class="last-item">
    <% if (id === "Baselayer") { %>
        <span class="catalog_buttons d-flex gap-1">
            <% if (this.model.get("quickHelp") === true) { %>
                <span class="bootstrap-icon question-icon tabable" tabindex="0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="<%= topicsHelpText%>"><i class="bi-question-circle-fill"></i></span>
            <% } %>
            <% if (backgroundImage) { %>
                <span class="bootstrap-icon background-icon rotate-adjust-back tabable" tabindex="0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="<%= mapBackgroundText%>"><i class="bi-circle-half"></i></span>
            <% } %>
            <span class="bootstrap-icon rotate-pin-back tabable" tabindex="0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="<%= pinTopicsTreeText%>"><i class="bi-pin-angle-fill"></i></span>
        <span>
    <% } %>
    <% if (id === "Overlayer" && treeType === "default") { %>
            <form class="form-inline">
                <div class="form-group catalog-selection">
                    <span class="form-label"><%= categoryText %></span>
                    <select class="form-select tabable" tabindex="0">
                        <% categories.forEach(function (cat) { %>
                            <% if (cat === category) { %>
                                <option <% print ("SELECTED") %>><%= cat %></option>
                            <% } else { %>
                                <option><%= cat %></option>
                        <% }}); %>
                    </select>
                </div>
            </form>
    <% } %>
    <% if (id === "SelectedLayer" && this.model.collection.has("saveSelection")) { %>
        <div class="layer-selection-save d-flex gap-1 tabable" tabindex="0">
            <span class="text-nowrap"><%= saveSelectionText %></span>
            <span class="bootstrap-icon"><i class="bi-box-arrow-up-right"></i></span>
        </div>
    <% } %>
    </div>
</div>
<ul id="<%= id %>"></ul>
