[req]
distinguished_name = req_distinguished_name
x509_extensions = v3_req
prompt = no
[req_distinguished_name]
C = DE
ST = State
L = Location
O = Masterportal
OU = Organizational Unit 
CN = www.localhost.de
[v3_req]
keyUsage = critical, digitalSignature, keyAgreement
extendedKeyUsage = serverAuth
subjectAltName = @alt_names
[alt_names]
DNS.1 = www.localhost.de
DNS.2 = localhost.de
DNS.3 = localhost