<!DOCTYPE html>
<div class="layer-settings" >
    <span class="transparency">
        <span class="text"><%=transparencyText%>:</span>
        <span class="bootstrap-icon increase-icon tabable" tabindex="0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="<%=increaseTransparencyText%>"><i class="bi-plus-circle-fill"></i></span>
        <span class="badge"> <%= transparency + '%' %></span>
        <span class="bootstrap-icon decrease-icon tabable" tabindex="0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="<%=reduceTransparencyText%>"><i class="bi-dash-circle-fill"></i></span>
    </span>
    <% if (isRemovable === true) { %>
        <span class="remove-layer tabable" tabindex="0">
            <span class="text" data-bs-toggle="tooltip" data-bs-placement="bottom"><%=removeLayerText%></span>
        </span>
    <% } %>
    <span class="arrows float-end">
        <span class="bootstrap-icon up-icon tabable" tabindex="0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="<%=levelUpText%>"><i class="bi-arrow-up"></i></span>
        <span class="bootstrap-icon down-icon tabable" tabindex="0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="<%=levelDownText%>"><i class="bi-arrow-down"></i></span>
    </span>
</div>
