<!DOCTYPE html>


<a id="<%= id %>" class="dropdown-item layer-item">
  <!-- <div class="layer-item"> -->
    <% if (isSelected) { %>
        <span class="glyphicon glyphicon-check" title="<%=removeTopicText%>"></span>
    <% } else { %>
        <span class="glyphicon glyphicon-unchecked" title="<%=showTopicText%>"></span>
    <% } %>
    <% if (isSecured) { %>
        <span class="glyphicon glyphicon-lock" title="<%=securedTopicText%>"></span>
    <% } %>
    <span class="title" title="<%= name %>"><%= name %></span>
<!-- </div> -->
</a>

<% if (typeof treeType === "undefined") { %>
  <button class="layer-info-item pull-right btn btn-menu-icon hidden-xs" type="button">
  <!-- <div class="layer-info-item pull-right"> -->
    <% if (typeof datasets !== "undefined" && datasets !== false) { %>
          <span class="glyphicon glyphicon-info-sign" title="<%=infosAndLegendText%>"></span>
    <% } %>
    <!-- </div> -->
    </button>
<% } else { %>
  <button class="layer-info-item pull-right btn btn-menu-icon hidden-xs" type="button">
  <!-- <div class="layer-info-item pull-right"> -->
    <span class="glyphicon glyphicon-cog rotate"></span>
  <!-- </div> -->
  </button>
<% } %>

