<!DOCTYPE html>
<div class="menu-row">
    <span class="bootstrap-icon x-icon tabable" tabindex="0" title="<%=selectedTopicsText%>"><i class="bi-x-circle"></i></span>
    <a href="#" id="<%= domId %>" class="layer-item tabable" tabindex="0">
        <% if (isVisibleInMap === true) { %>
            <span class="bootstrap-icon" title="<%=removeTopicText%>"><i class="bi-check2-square"></i></span>
        <% } else { %>
            <span class="bootstrap-icon" title="<%=showTopicText%>"><i class="bi-square"></i></span>
        <% } %>
        <% if (isSecured) { %>
            <span class="bootstrap-icon lock-icon" title="<%=securedTopicText%>"><i class="bi-lock"></i></span>
        <% } %>
        <span class="title" title="<%= name %>"><%= name.substr(0,35)%><%if(name.length >= 35) {%>... <% }  %></span>
    </a>
    <span class="last-item">
        <% if (styleable === true) { %>
            <span class="bootstrap-icon style-icon tabable" tabindex="0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="<%=changeClassDivisionText%>"><i class="bi-droplet-fill"></i></span>
        <% } %>
        <% if (typeof datasets !== "undefined" && datasets !== false) { %>
            <span class="bootstrap-icon info-icon tabable" tabindex="0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="<%=infosAndLegendText%>"><i class="bi-info-circle-fill"></i></span>
        <% } %>
        <% if (showSettings === true) { %>
            <span class="bootstrap-icon settings-icon rotate tabable" tabindex="0" title="<%=settingsText%>"><i class="bi-gear"></i></span>
        <% } %>
    </span>
</div>
