<!DOCTYPE html>
<a id="<%= domId %>" class="dropdown-item layer-item tabable">
    <% if (isSelected) { %>
        <span class="glyphicon glyphicon-check" title="<%=removeTopicText%>"></span>
    <% } else { %>
        <span class="glyphicon glyphicon-unchecked" title="<%=showTopicText%>"></span>
    <% } %>
    <% if (isSecured) { %>
        <span class="glyphicon glyphicon-lock" title="<%=securedTopicText%>"></span>
    <% } %>
    <span class="title" title="<%= name %>"><%= name %></span>
</a>

<% if (typeof treeType === "undefined") { %>
  <div class="layer-info-item pull-right">
    <% if (typeof datasets !== "undefined" && datasets !== false) { %>
          <span class="glyphicon glyphicon-info-sign tabable" title="<%=infosAndLegendText%>"></span>
    <% } %>
    </div>
<% } else { %>
  <div class="layer-info-item pull-right">
    <span class="glyphicon glyphicon-cog rotate tabable"></span>
  </div>
<% } %>

